
h1{
    color: #f0dbdb;
    letter-spacing: 1px;
}

.btn.rounded-0.main-menu-btn{
    width: 250px;
    background: rgb(254, 125, 154);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 0;
}

.black-line::after{
    content: "";
    position: absolute;
    width: 36px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}


    


/* .black-line{
    width: ;
} */

/* About us */

.list-group-item:first-child{
    background-color: red;
}

h4:hover{
    color: #00ff37;
}

.photo{
    display: none;
}

.photo:first-child{
    display: block;
}

.container-fluid.over.w-100.h-100{
    display: none;
    background: rgba(240, 248, 255, 0.7);
}


/* Feedback */

.row.feedback-row{
    background: rgb(250, 250, 250);
    margin-right: 0;
    margin-left: 0;
}

/* menu --sms -- instagram -- */

.list-inline.feedback-list{
    color: rgb(189, 189, 189);
    margin-bottom: 30px;
}

.list-inline-item.fb-list-it:first-child{
    color: rgb(254, 125, 154);
    padding-right: 20px;
    margin: 0;
    border-right: 1px solid rgb(226, 226, 226);
}

.list-inline-item.fb-list-it:last-child{
    padding-left: 20px;
}

.list-inline-item.fb-list-it:first-child:hover,
.list-inline-item.fb-list-it:last-child:hover{
    color: rgb(254, 125, 154);
    cursor: pointer;
}

/* feedback content  */

.d-flex.align-items-center.row-bg-sms-inst{
    margin-left: -15px;
    margin-right: -15px;
}

/*  fb buttons: prev, next */
.prev-fb, 
.next-fb{
    width: 15px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.prev-fb i::before,
.next-fb i::before{
    position: relative;
    font-size: 30px;
    color: gray;
}

/*  sms and inst */
.row.row-sms,
.row.row-instagram{
    flex-grow: 1;
}

/* < row row-sms > */
.col-xl-3.col-md-4.fb-box-sms{
    padding-left: 45px;
}

.col-xl-3.col-md-4.fb-box-sms:nth-child(n+5){
    display: none;
}

.solid-red{
    border: 1px solid rgb(254, 125, 154);
    padding: 30px 0 30px 0;
}

.info-content{
    position: relative;
    right: 30px;
    background: white;
    padding-top: 30px;
}

.info-content div {
    padding-left: 30px;
}

.fb-name{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

.fb-date{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}

.fb-serv-qual{
    font-weight: 500;
}

.stars{
    padding-bottom: 15px;
    color: rgb(254, 125, 154);
}

.revew {
    background: rgb(254, 244, 244);
    padding: 10px 30px 20px 30px;
}

.p-modal-feedback{
    height: 45px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.modal-body-feedback{
    padding: 20px 30px;
    text-align: center;
}

/*   <row row-instagram> */

.row.row-instagram{
    display: none;
    flex-grow: 1;
}

.col-xl-3.col-md-4.fb-box-inst{
    padding-left: 45px;
}

.col-xl-3.col-md-4.fb-box-inst:nth-child(n+5){
    display: none;
}

.solid-red-inst{
    border: 1px solid rgb(254, 125, 154);
    padding: 0;
    position: relative;
}

.info-content-inst{
    height: 172px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin-left: -30px;
    background: url('images/insta.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.fb-images{
    width: 50%;
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
    object-fit: cover;
}

.inst-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 50%;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.507);
}

.inst-overlay:hover{
    cursor: pointer;
    opacity: 0;
}
  
.inst-visibil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.inst-visibil i{
    color: rgb(100, 100, 100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* franchise */

.franchise-h5{
    margin: 0 0 40px 0;
}

.d-sm-flex.flex-sm-row.pl-0.mb-3:hover .franch-parent-images{
    background-color: rgb(254, 125, 154);
    transition: 0.3s;
}

.franch-parent-images{
    width: 70px;
    height: 70px;
    padding: 16px;
    border: 1px solid rgb(254, 125, 154);
    border-radius: 50%;
    margin: 0 20px 0 0;
    transition: 0.3s;
}

.d-sm-flex.flex-sm-row.pl-0.mb-3:hover .img-1{
    background: url('images/img1.png') -2px 0;
    transition: 0.3s;
}

.d-sm-flex.flex-sm-row.pl-0.mb-3:hover .img-2{
    background: url('images/tea-cup.png') -2px 0;
    transition: 0.3s;
}

.d-sm-flex.flex-sm-row.pl-0.mb-3:hover .img-3{
    background: url('images/wall-clock3.png') -2px 0;
    transition: 0.3s;
}

.d-sm-flex.flex-sm-row.pl-0.mb-3:hover .img-4{
    background: url('images/img2.png') -2px 0;
    transition: 0.3s;
}

.img-1, .img-2, .img-3, .img-4{
    width: 36px;
    height: 36px;
}

.img-1{
    background: url('images/img1.png') -2px -34px;
    transition: 0.3s;
}

.img-2{
    background: url('images/tea-cup.png') -2px -34px;
    transition: 0.3s;
}

.img-3{
    background: url('images/wall-clock3.png') -2px -35px;
    transition: 0.3s;
}

.img-4{
    background: url('images/img2.png') -2px -34px;
    transition: 0.3s;
}

.container.pl-sm-0.py-2.ml-sm-0.align-self-center{
    color: rgb(254, 125, 154);
    font-size: 18px;
    width: 50%;
}

.container-fluid.p-0.franchise-photo{
    border: 1px solid rgb(254, 125, 154);
}

#franchise{
    position: relative;
    left: 33px;
    bottom: 33px;
}

    /* franchise carousel */

.carousel-control-prev-next{
    width: 140px;
    height: 62px;
    background: rgb(254, 244, 244);
    position: absolute;
    bottom: -10px;
    right: 0;

}

.carousel-control-prev.a-prev{
    opacity: 1;
    width: 50%;
    height: 100%;
    border-right: 1px solid rgb(128, 128, 128);
}

.carousel-control-next.a-next{
    opacity: 1;
    width: 50%;
    height: 100%;
}

/* vacancy */

.col-sm-1.text-center.vacancy-num{
    color: #f0dbdb;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.container-fluid.p-0.vacancy-photo{
    border: 1px solid rgb(254, 125, 154);
}

.container-fluid.p-0.vacancy-photo img{
    position: relative;
    left: 33px;
    bottom: 33px;
}

.needed{
    margin-bottom: 30px;
}

/* <--  Our_work --> */

.container-fluid.pt-sm-5.our_work{
    background: rgb(254, 244, 244);
}

/* Our_work menu */

.list-group.list-group-horizontal.our_work_nav{
    padding: 1px 0 40px 0;
}

.list-group-item.our-work-photo-li{
    border-left: 1px solid rgb(235, 232, 232);
    border-top: none;
    border-bottom: none;
    background-color: rgb(254, 244, 244);
    color: rgb(189, 189, 189);
    padding: 0 20px;
}

.list-group-item.our-work-photo-li:hover {
    cursor: pointer;
}

.list-group-item.our-work-photo-li:first-child{
    border-left: none;
    padding-left: 0;
}

.list-group-item.our-work-photo-li:last-child{
    border-right: none;
}


/* Our_work photo */ 

.container-fluid.our-work-photo{
    display: flex;
    flex-wrap: wrap;
}

.our-work-photo-img{
    display: none;
    padding: 5px 5px 0 0;
} 

.img_and_over{
    height: 450px;
    position: relative;
}

.over-photo {
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
}

.over-photo, .rel, .fas.fa-search,
.img_and_over:hover .over-photo,
.img_and_over:hover .over-photo .rel,
.img_and_over:hover .over-photo .rel .fas.fa-search {
    transition: 0.3s;
}

.img_and_over:hover {
    cursor: pointer;
}

.img_and_over:hover .over-photo {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}

.rel {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0px;
}

.img_and_over:hover .over-photo .rel {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 450px;
}

.fas.fa-search {
    font-weight: 600;
    font-size: 0px;
} 

.img_and_over:hover .over-photo .rel .fas.fa-search {
    font-size: 24px;
} 


/* modal our work img */

/* .d-flex.container-over-our-work-img{
    justify-content: right;
} */

.btn-over-our-work-img{
    width: 36px;
    height: 36px;
    background: rgba(51, 51, 51, 0.6);
    color: rgba(255, 255, 255, 0.89);
    font-size: 24px;
    text-align: center;
    margin-left: 1px;
    padding: 2px 0 0 0;
}

.btn-over-our-work-img:hover {
    background: rgba(51, 51, 51, 1);
    color: white;
    cursor: pointer;
}

/* <!-- Blog  --> */

.container-fluid.cont-blog-photo{
    border: 1px solid rgb(254, 125, 154);
    padding: 0;
}

.container-fluid.cont-blog-photo img{
    position: relative;
    top: 20px;
    left: 20px;
}

.col-xl-6.col-blog-text{
    padding: 20px;
    background: white;
}

.col-xl-6.col-blog-text a{
    color: rgb(254 125 154);
}

/*    <!-- Contacts  --> */

.container-fluid.pt-sm-5.pb-sm-5.contacts{
    background-color: rgb(254, 244, 244);
}
.numbers.d-flex.align-content-center, .address, .work-time {
    padding: 1rem .5rem 1rem 0;
}

.numbers.d-flex.align-content-center span{
    font-size: 21px;
    line-height: 74px;
    padding-right: 5px;
}

.numbers.d-flex.align-content-center span::before{
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-right: 10px;
}

.phone-one, .phone-two, .address, .work-time {
    font-size: 25px;
}

.phone-one:hover{
    cursor: pointer;
}

.phone-two:hover{
    cursor: pointer;
}

.address::before{
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-right: 10px;
}

.work-time span {
    vertical-align: super;
    font-size: 17px;
}

.work-time::before{
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    padding-right: 10px;
}

iframe{
    width: 100%;
}

/* footer */

.footer{
    background-color: rgb(255, 200, 200);
}

.footer_nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
}

.footer-li a{
    display: block;
    color: rgb(88, 88, 88);
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    border-right: 1px solid rgb(88, 88, 88);
}

.footer-li:first-child a{
    text-decoration: underline;
    padding-left: 0;
}

.footer-li:last-child a{
    border: none;
}

.footer-li a:hover {
    color: rgb(88, 88, 88);
  }

.footer-li:hover {
    cursor: pointer;
}

@media (max-width: 1199px) {


    /* feedback */
    
    .col-xl-3.col-md-4.fb-box-sms:nth-child(n+4){
        display: none;
    }

    .col-xl-3.col-md-4.fb-box-inst:nth-child(n+4){
        display: none;
    }
}


@media (max-width: 991px) {

    /* feedback */

    .col-xl-3.col-md-4.fb-box-sms{
        padding-left: 30px;
    }

    .col-xl-3.col-md-4.fb-box-inst{
        padding-left: 30px;
    }
    
    .solid-red{
        padding: 15px 0 15px 0;
    }
    
    .info-content{
        right: 15px;
        padding-top: 15px;
    }
    
    .info-content div {
        padding-left: 15px;
    }
    
    .fb-name{
        font-size: 18px;
        padding-bottom: 5px;
    }
    
    .fb-date{
        font-size: 16px;
        padding-bottom: 10px;
    }
    
    .fb-serv-qual{
        font-size: 14px;
    }
    
    .stars{
        font-size: 14px;
        padding-bottom: 7px;
    }
    
    
    .p-modal-feedback{
        font-size: 14px;
        height: 25px;
        padding: 10px 15px 20px 15px;
    }

    .info-content-inst{
        margin-left: -15px;
    }

    /* franchise */

    .container.pl-sm-0.py-2.ml-sm-0.align-self-center{
        width: 100%;
    }

    #franchise{
        left: 30px;
        bottom: 30px;
    }

    /* vacancy */

    .container-fluid.p-0.vacancy-photo img{
        left: 30px;
        bottom: 30px;
    }
}

@media (max-width: 767px) {

    /* feedback */

    .col-xl-3.col-md-4.fb-box-sms:nth-child(n+2){
        display: none;
    }

    .col-xl-3.col-md-4.fb-box-inst:nth-child(n+2){
        display: none;
    }

    /* footer */

    .footer_nav{
        display: none;
    }
}

@media (max-width: 575px) {

    /* franchise */

    .black-line.mb-5.pb-2{
        text-align: center;
    }

    .franchise-h5{
        text-align: center;
    }

    .franch-parent-images{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .container.pl-sm-0.py-2.ml-sm-0.align-self-center{
        text-align: center;
    }
}